<mat-card class="profile-card">
  <mat-card-title>
    <h2>Hello, {{ tokenService.currentUser?.displayName }}</h2>
  </mat-card-title>
  <mat-card-content>
    <ng-container *ngIf="(myRentals$ | async) as myRentals">
      <ng-container *ngIf="myRentals.length > 0; else noActiveRentals">
        <p class="card-content-title">This is your list of rented cars: </p>
        <mat-list>
          <mat-list-item *ngFor="let rental of myRentals">
            <img matListAvatar [src]="rental.image" [alt]="rental.model">
            <h4 matLine>{{ rental.model }}</h4>
            <p matLine>
              {{ rental.from | date: 'shortDate' }} - {{ rental.to | date: 'shortDate' }}
            </p>
            <button mat-button color="warn" (click)="backCar(rental.id)">Return</button>
          </mat-list-item>
        </mat-list>
      </ng-container>
      <ng-template #noActiveRentals>
        <p class="card-content-title no-bookings">You don't have any active rentals</p>
        <button class="full-width" mat-flat-button color="primary" [routerLink]="['/rental']">Book a Car</button>
      </ng-template>
    </ng-container>
  </mat-card-content>
</mat-card>
