:host {
  margin: 10px;
  align-self: auto;
  flex: 0 1 auto;
}

.card {
  max-width: 250px;
}

.card-image > img {
  width: 100%;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .price {
    font-size: 16px;
  }
}

.car-model {
  font-size: 20px;
  font-weight: bold;
  padding: 15px 0;
}
